.banner {
  background-color: #fff44f;
  margin-bottom: 20px;
  padding: 40px;
  text-align: center;
  border-bottom: 3px solid black;
}

.centered {
  margin: auto;
  width: 60%;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-item {
  margin: auto;
}

.btn-center {
  margin: auto;
}

.form-group input {
  width: 25px;
  border: 0px;
  border-bottom: 2px solid black;
  text-align: center;
}

.form-group label {
  width: 40%;
  margin-right: 0px;
}

.submit-btn {
  text-align: center;
}

textarea:focus, input:focus{
  outline: none;
}

canvas {
  padding: 0;
  margin: auto;
  display: block !important;
  width: 80%;
}

.intro-text {
  font-size: 20px;
  font-weight: bold;
}

.error {
  text-align: center; 
  color: red;
  font-size: 18px;
  font-weight: bold;
}

#q-assets, #q-cost, #explain {
  margin-left: 30px;
  font-size: 22px;
  font-weight: bold;
}

.form {
  margin-top: 20px;
}

#canvas {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

#results {
  font-size: 16px;
  font-weight: bold;
  margin: 0px 30px;
}

.text-center {
  text-align: center;
}

#loser p {
  font-size: 8px;
}

#loser h1 {
  font-size: 100px;
}
