<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Lemonade Stand</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <script src="//code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </head>
  <body>
    <div class="banner">
      <h1>Lemonade Stand</h1>
    </div>
    <div class="centered">
      <div id="intro" class="intro-text">
        <p>Hi! Welcome to Lemonsville, California!</p>
        <p>In this small town, you are in charge of running your own lemonade stand. How much profit you make is up to you.
        <p>To manage your lemonade stand you will need to make these decisions every day:
        <p>
        <ol>
          <li>How many glasses of lemonade to make (only one batch is made each morning)</li>
          <li>How many advertising signs to make (this signs cost fifteen cents each)</li>
          <li>What price to charge for each glass</li>
        </ol>
        <p>You will begin with $2.00 cash (assets). Because your mother gave you some sugar, your cost to make lemonade is two cents a glass (this may change in the future.</p>
        <p>Click anywhere on this text to start.</p>
      </div>
      <div id="questions">
        <div class="error"><p id="error"></p></div>
        <form id="form">
          <div class="flex-row form-group">
            <label class="flex-item" for="cups">How many cups?</label>
            <input class="flex-item" name="cups" type="text" class="form-control" id="cups" placeholder="0">
          </div>
          <div class="flex-row form-group">
            <label class="flex-item" for="signs">How many signs?</label>
            <input class="flex-item" name="signs" type="text" class="form-control" id="signs" placeholder="0">
          </div>
          <div class="flex-row form-group">
            <label class="flex-item" for="price">How much per cup?</label>
            <input class="flex-item" name="price" type="text" class="form-control" id="price" placeholder="0">
          </div>
          <div class=submit-btn>
            <button type="submit" class="btn btn-default">Submit</button>
          </div>
        </form>
      </div>
    </div>
    <div id="canvas">
      <p id="wthr-msg"></p>
      <canvas id="myCanvas" width="500" height="300">
      </canvas>
    </div>
  </body>
</html>
